<!-- HTML NavBar -->
<nav class="nav">
  <p id="logo">Stream It</p>
  <ul id="menuList" class="menu">
    <li class="item"><a href="https://github.com/ba3a-g">Github</a></li>
    <li class="item"><a href="https://ba3a.me">Portfolio</a></li>
  </ul>
</nav>