<!-- Header with Site Title and Nav Bar -->
<header class="header">
  <div class="header__title">
    <h1 class="header__title__text">
      <a href="/">Test</a>
    </h1>
  </div>
  <nav class="header__nav">
    <ul class="header__nav__list">
      <li class="header__nav__list__item">
        <a href="/about">About</a>
      </li>
      <li class="header__nav__list__item">
        <a href="/contact">Contact</a>
      </li>
    </ul>
  </nav>