<!DOCTYPE html>
<html lang="en">
  <head>
      <link href="../static/main.css" rel="stylesheet" />
      <script src="https://accounts.google.com/gsi/client" async></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>