<!DOCTYPE html>
<html lang="en">

<head>
  <title>Stream It | Video Player</title>
  <link href="https://vjs.zencdn.net/8.3.0/video-js.css" rel="stylesheet" />
</head>

<body>
  <main>
    <section class="header-section">
      {{> header}}
    </section>
    <div id="g_id_onload"
     data-client_id="571277039869-4jf92v2ae7lka4o390prdo9igi0afk38.apps.googleusercontent.com"
     data-context="signin"
     data-ux_mode="popup"
     data-login_uri="http://localhost:3000/login/callback"
     data-auto_select="true"
     data-itp_support="true">
</div>

<div class="g_id_signin"
     data-type="standard"
     data-shape="rectangular"
     data-theme="outline"
     data-text="signin_with"
     data-size="large"
     data-logo_alignment="left">
</div>
  </main>
</body>

</html>