<!DOCTYPE html>
<html lang="en">

<head>
  <title>Stream It | Video Player</title>
  <link href="https://vjs.zencdn.net/8.3.0/video-js.css" rel="stylesheet" />
</head>

<body>
  <main>
    <section class="header-section">
      {{> header}}
    </section>
    <section class="video-section">
      <div class="video-container">
        <video-js class="video-js" controls style="border-radius: 10px;">
          <source src="{{url}}" type="video/mp4" />
        </video-js>
        <div class="video-info rounded">
          <h2 class="video-title">{{title}}</h2>
          <p>
            {{description}}
          </p>
        </div>
    </section>
  </main>
  <script src="https://vjs.zencdn.net/8.3.0/video.min.js"></script>
  <script src="../static/main.js"></script>
</body>

</html>